# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config LV_DISP_DEF_REFR_PERIOD
    int "LVGL default refresh period"
    default 30

if SHIELD_TOTEM_LEFT

config ZMK_KEYBOARD_NAME
    default "TOTEM"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TOTEM_LEFT || SHIELD_TOTEM_RIGHT

config ZMK_SPLIT
    default y

endif
